@using Flagger.Application.Entities
@using Flagger.Application.Interfaces

@inject IGameService gameService

<div>
    <p class="fs-1 fw-bold text-secondary-emphasis">@country.Name</p>

    <ul class="list-group">
        <CountryItem Title="Abbreviation" Value="@country.Abbreviation" Color="true" />
        <CountryItem Title="Currency Code" Value="@country.CurrencyCode" />
        <CountryItem Title="Capital" Value="@country.Capital" />
        <CountryItem Title="Largest City" Value="@country.LargestCity" />

        <CountryItem Title="Land Area" Value="@country.LandArea" />
        <CountryItem Title="Agricultural Land" Value="@country.AgriculturalLand" />
        <CountryItem Title="Armed Forces Size" Value="@country.ArmedForcesSize" />

        <CountryItem Title="Co2 Emissions" Value="@country.Co2Emissions" />
        <CountryItem Title="Forested Area" Value="@country.ForestedArea" />

        <CountryItem Title="Life Expectancy" Value="@country.LifeExpectancy" />
        <CountryItem Title="Birth Rate" Value="@country.BirthRate" />
        <CountryItem Title="Fertility Rate" Value="@country.FertilityRate" />
        <CountryItem Title="Infant Mortality" Value="@country.InfantMortality" />

        <CountryItem Title="Gross Domestic Product" Value="@country.GDP" />
    </ul>

    <button type="button" class="btn btn-success mt-3 mb-3 col-12" @onclick="OnNext">NEXT</button>
</div>

@code {
    [Parameter]
    public Func<Task> OnNext { get; set; }

    private Country country;

    protected override void OnInitialized() => this.country = gameService.Get().CurrentStage.Country;
}