@using Flagger.Application.Entities
@using Flagger.Application.Interfaces

@inject IGameService gameService

<div>
    <h3>@country.Name</h3>

    <p>Abbreviation: @country.Abbreviation</p>
    <p>Currency Code: @country.CurrencyCode</p>
    <p>Capital: @country.Capital</p>
    <p>Largest City: @country.LargestCity</p>
    <p>Land Area: @country.LandArea km2</p>
    <p>Agricultural Land: @country.AgriculturalLand</p>
    <p>Armed Forces Size: @country.ArmedForcesSize</p>
    
    <p>Co2 Emissions: @country.Co2Emissions</p>
    <p>Forested Area: @country.ForestedArea %</p>
    
    <p>Life Expectancy: @country.LifeExpectancy years</p>
    <p>Birth Rate: @country.BirthRate births per 1,000 total population</p>
    <p>Fertility Rate: @country.FertilityRate kids per woman</p>
    <p>Infant Mortality: @country.InfantMortality per 1,000 live births</p>
    
    <p>Gross Domestic Product: @country.GDP</p>

    <button type="button" class="btn btn-success" @onclick="OnNext">NEXT</button>
</div>

@code {
    [Parameter]
    public Action OnNext { get; set; }

    private Country country;

    protected override void OnInitialized() => this.country = gameService.Get().CurrentStage.Country;
}